/nixpkgs
/nixpkgs-cached
/.pre-commit-config.yaml
/.direnv

result
result/
result-*

*~
*.swp
.DS_Store

# Personal scripts
nix-build/
outputs/
*.ext4
*.zst
rock2-sd-image-24.11.20241009.5633bcf-aarch64-linux.img
